           
html , input , button {
    font-family: "Vazir" !important;
}

body {
    justify-content: center;
    align-items: center;
}

.myplayer {
    position: relative;
    display: flex;
    direction: ltr;
    overflow: hidden;
    transition: .2s all;
    border-radius: 10px;
    width: 100%;
}

.myplayer video {
    width: 100%;
}

.myplayer .myplayer__controls {
    position: absolute;
    bottom: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgba(0,0,0,0.7);;
}

.myplayer .controls__progressbar {
    height: 6px;
    background: #FFFFFF33;
    width: 100%;
}


.myplayer .controls__progressbar-current {
    -webkit-appearance: none;
    -moz-apperance: none;
    height: 6px;
    margin: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 186, 0, 1) 0%, #FFFFFF33 0%);
    cursor: pointer;
}
.myplayer .controls__progressbar-current-ADV {
    -webkit-appearance: none;
    -moz-apperance: none;
    height: 6px;
    margin: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 186, 0, 1) 0%, #FFFFFF33 0%);
    cursor: pointer;
}

.myplayer .controls__progressbar-current::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

.myplayer .controls__progressbar-current:focus {
    outline: none;
    border: none;
}

.myplayer .controls__progressbar-current::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: transparent;
    height: 13px;
    width: 13px;
}

.volume__progress .controls__progressbar-current::-moz-range-thumb {
    -moz-appearance: none !important;
    background-color: transparent;
    border: none;
    height: 13px;
    width: 13px;
}

.myplayer:hover .controls__btns {
    display: flex;
}

.myplayer .controls__btns {
    margin: 10px 15px;
    color: white;
    align-items: center;
    justify-content:space-between;
    display: none;
}

.myplayer .controls__btns .right , .myplayer .controls__btns .left {
    display: flex;
    align-items: center;
}

.myplayer .controls__btns .btns {
    font-size: 1.3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myplayer .controls__btns .left .btns:not(:first-child) {
    margin-left : 20px;
}

.myplayer .controls__btns .right .btns:not(:last-child) {
    margin-right: 20px;
}

.myplayer .btns.play {
    color: white;
}

.myplayer .btns.volume {
    position: relative;
    display: flex;
    align-items: center;
}

.myplayer .volume__progress.active {
    display: block;
}


.myplayer .volume__progress.avtive {
    display: block;
}

.myplayer .volume__progress input[type=range] {
    display: flex;
}

.myplayer .timer {
    margin-left: 20px;
}

.volume__progress input[type=range] {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    width: 77px;
    cursor: pointer; 
    background: linear-gradient(90deg, rgba(255, 186, 0, 1) 50%, #FFFFFF33 0%);
}

.volume__progress input[type="range"]::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

.volume__progress input[type=range]:focus {
    outline: none;
    border: none;
}

.volume__progress input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #FFBA00;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.volume__progress input[type=range]::-moz-range-thumb {
    -moz-appearance: none !important;
    background-color: #FFBA00;
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.setting {
    position: relative;
}
.speed {
    position: absolute;
    width: 50px;
    bottom: 37%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    display:none;
}
.speed li {
    color: #fff;
    list-style-type: none;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
}
.speed li:first-child {
    border-radius: 3px 3px 0 0;
}
.speed li:last-child {
    border-radius: 0 0 03px 3px;
}
.speed li:hover {
    background-color: rgba(255,255,255,0.5);
}
.active {
    background-color: rgba(255,255,255,0.5);
}
button, input, optgroup, select, textarea {
    font-size: 0px !important;
}
.pause {
    cursor: pointer;
    display: none;
}
.mute {
    display:none;
}
.animated_btns {
    position: absolute;
    width: 80px;
    top: 50%;
    left: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.2,1.2);
    transition: all 0.1s;
    cursor: pointer;
}
.animated_btns:hover {
    background-color:#FFBA00;
    opacity: 0.8;
}
.animated_btns img {
    width: 40px;
    height: 40px;
}
.animations {
    animation: zoominoutsinglefeatured 1s forwards;
}
.animationsTow {
    animation: zoominoutsinglefeaturedTow 1s forwards;
}

#input_volume_ADV {
    display: none;
}

.seek-tooltip {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    bottom: 60px;
    border-radius: 5px;
    font-size: 0.7rem;  
    }
@keyframes zoominoutsinglefeaturedTow {
    0% {
        transform:translate(-50%, -50%) scale(1,1);
    }
    50% {
        transform:translate(-50%, -50%) scale(1.2,1.2);
    }
    100% {
        transform:translate(-50%, -50%) scale(1,1);
        opacity: 0;
        }
    }
@keyframes zoominoutsinglefeatured {
    0% {
        transform:translate(-50%, -50%) scale(1,1);
    }
    50% {
        transform:translate(-50%, -50%) scale(1.2,1.2);
    }
    100% {
        transform:translate(-50%, -50%) scale(1,1);
        opacity: 0;
        }
    }

    .resize-animation-stopper * {
        animation: none !important;
        transition: none !important;
      }

/* advertise section styles _______________________________________ */

.videoContainer {
    position: relative;
}

.hide {
    display: none;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.video video {
    max-width: 100%;
    max-height: 100%;
}

.video.stuck {
    position: fixed;
    bottom: 25px;
    right: 10px;
    width: 300px;
    height: 175px;
    transform: translateY(100%);
    animation: fade-in-up 0.75s ease forwards;
    z-index: 100000;
}

.myplayer{
    position: relative;
}

span.skipBtn {
    display:none;
    padding: 7px 15px;
    background-color: #000;
    font-family: sans-serif;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 22%;
    color: white;
}
span.skipBtn.disabled {
    cursor: not-allowed;
}



@media only screen and (max-width:1200px) {
    .pic,.theater,.rewind,.forward {
        display: none !important;
    }
}
@media only screen and (max-width:992px) {
    .timer{
        font-size:0.9em;
    }
    .video.stuck {
        bottom: 60px; 
    }
}
@media only screen and (max-width:578px) {
    .myplayer .controls__btns .left .btns:not(:first-child) {
        margin-left : 10px;
    }
    
    .myplayer .controls__btns .right .btns:not(:last-child) {
        margin-right: 10px;
    }
    .myplayer .controls__btns {
        margin: 7px;
    }
    .myplayer .controls__progressbar-current {
        height: 3px;
    }
    .myplayer .controls__progressbar {
        height: 3px;
    }
    .play img , .pause img , .volume img , .volume__progress input ,.setting img ,.fullscreen img {
        width: 20px;
        height:20px;
    }
    .volume__progress input[type=range] {
        height: 5px;
        width: 67px;
    }
    .volume__progress input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        background-color: #FFBA00;
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
    
    .volume__progress input[type=range]::-moz-range-thumb {
        -moz-appearance: none !important;
        background-color: #FFBA00;
        border: none;
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
    .speed {
        width: 30px !important;
    }
    .speed li {
        padding: 3px 0 !important;
        font-size: 0.6rem !important;
    }
    .animated_btns {
        position: absolute;
        width: 45px !important;
        height:45px !important;
  
    }
    .animated_btns img {
        width: 25px;
        height: 25px;
    }
    .myplayer .controls__btns {
        display: flex;
    }
    .timer{
        font-size: 0.8em;
    }
}

